:root {
    --red: #E50914;
    --black: #141414;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

html,
body {
    background-color: var(--black);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.logo-img {
    width: 8rem;
}

.menu-icon {
    width: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.left-menu {
    display: flex;
    align-items: center;

}

.rigth-menu {
    display: flex;
    align-items: center;

}

header .container {
    background-image: linear-gradient(to bottom, var(--black), transparent);
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
    font-weight: lighter;
}

.home-buttom {
    font-weight: 900;
}

.profile {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile img {

    margin-left: 5px;
}

.arrow-drop {
    width: 1rem;
}

/*
Menu-Profiled
*/

#menu-profile {
    display: none;
    justify-content: end;
    background-color: var(--black);
  
}
.menu-profile ul {
    list-style: none;
  
}

.menu-profile li {
    padding: 5px;
  
}