

.profile-box {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
 }

.row img {
    width: 200px;
    margin: 5px;
}
#close {
    justify-content: end;
}
#close img{
    width: 50px;
    margin: 0;
}

#exit {
   justify-content: end;
    
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    text-align: center;
    border-radius: 15px;
    width: 7rem;
    background-color: #E50914;
    font-weight: bold;
}